.number { display: inline; font-size: 24px; font-family: "Times New Roman", Times, serif; background-color: Gold; padding: 4px; }
.toppic { width: 100%; }

.center {
  text-align: center;
}

.hilight {
  background-color: moccasin; padding: 19px 2px; min-height: 151px;
}

.xsignup {
  text-align: center;
}
.signup .btn {
  font-size: 21px;
  padding: 14px 24px;
  margin-top: 40px;
}
.signup .controls {
  text-align: left;
}



.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.icon {
  border: 0;
  width: 16px;
  height: 16px;
}

.logo {
  border: 0;
  width: 32px;
  height: 32px;
  margin-top: -6px;
}

.title {
  text-align: center;
}

ol {
  padding: 0 20px;
}