<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>North London Energy Transition: Energy Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/application.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <!--<li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>-->
            <li><a href="mailto:north.london.energy@gmail.com" target="_blank"><b>Contact</b> <img src="//mail.google.com/favicon.ico" class="icon"></a></li>
          </ul>
          <h3 class="muted"><img src="/favicon.ico" class="logo">North London Energy Transition</h3>
        </div>
      </div>

      <div class="row">
        
        <div class="span2">
         <img src="images/we-need-you.jpg" class="toppic">
        </div>

        <div class="span2">
          <div class="well hilight center">
            <h3>Dartmouth Park</h3>
            <h4><div class="number">11</div> meter readers</h4>
          </div>
        </div>
        
        <div class="span2">
          <div class="well hilight center">
            <h3>Highgate</h3>
            <h4><div class="number">2</div> meter readers</h4>
          </div>
        </div>

        <div class="span2">
          <div class="well hilight center">
            <h3>Kentish Town</h3>
            <h4><div class="number">3</div> meter readers</h4>
          </div>
        </div>
        
        <div class="span2">
          <div class="well hilight center">
            <h3>Tufnell Park</h3>
            <h4><div class="number">11</div> meter readers</h4>
          </div>
        </div>
        
        <div class="span2">
          <div class="well hilight center">
            <h3>Other</h3>
            <h4><div class="number">1</div> meter reader</h4>
          </div>
        </div>
        
      </div>
       
      <div class="row">
          <h1 class="center">Join the Energy Challenge!</h1>
          <ol>
          <h3><li><a href="#signup">Sign up &raquo;</a></li></h3>
          <h3><li><a href="#readings">Send us your meter readings &raquo;</a></li></h3>
          <h3><li>Start reducing your carbon footprint</li></h3>
          </ol>
      </div>
       
      <hr> 
            
      <div class="row">

        <div class="span6">
          <div class="well signup" id="signup">
            <form class="form-horizontal" action="http://nlet.us6.list-manage.com/subscribe/post?u=32f6fcb5eaa0f1cecae5311af&amp;id=15d6e30251" method="post" novalidate="">
            <legend>Sign up to the Energy Challenge</legend>
        
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <input type="text" name="EMAIL" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname">First Name</label>
                <div class="controls">
                  <input type="text" name="FNAME" placeholder="First Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLname">Last Name</label>
                <div class="controls">
                  <input type="text" name="LNAME" placeholder="Last Name">
                </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPostcode">Postcode</label>
              <div class="controls">
                <input type="text" name="POSTCODE" placeholder="Postcode">
              </div>
            </div>

            <div>
              <strong>My neighbourhood</strong>
            </div>
            <div class="controls">
              <label class="radio">
                <input type="radio" value="32" name="group[3549]">Belsize Park
              </label>
              <label class="radio">
                <input type="radio" value="1" name="group[3549]">Dartmouth Park
              </label>
              <label class="radio">
                <input type="radio" value="16" name="group[3549]">Highgate
              </label>
              <label class="radio">
                <input type="radio" value="2" name="group[3549]">Kentish Town
              </label>
              <label class="radio">
                <input type="radio" value="4" name="group[3549]">Tufnell Park
              </label>
              <label class="radio">
                <input type="radio" value="8" name="group[3549]">Other
              </label>
            </div>
<!--
            <div>
              <strong>I would like to order an Owl monitor</strong>
            </div>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" value="16" name="group[3553][16]">
                Owl Intuition-e (£47.60)
              </label>
            
            </div>
-->
            <div>
              <strong>Email Format </strong>
            </div>
            <div class="center">
              <label class="radio inline">
                <input type="radio" value="html" name="EMAILTYPE" checked>html
              </label>
              <label class="radio inline">
                <input type="radio" value="text" name="EMAILTYPE">text
              </label>
              <label class="radio inline">
                <input type="radio" value="mobile" name="EMAILTYPE">mobile
              </label>
            </div>
          
            <div class="center">
              <button type="submit" class="btn btn-large btn-success">Sign up now</button>
            </div>
          
            </form>
          </div> <!-- well -->

        </div> <!-- span -->

        <div class="span6">

          <h4>Why join the Challenge?</h4>
          <p>
            If you want to reduce your carbon footprint, you need to understand it. And to understand it, you need to measure it. Meter reading is a great first step.
          </p>
          <p>
            The second step is to start making changes that actually reduce energy consumption, which requires the knowledge of what to change and the motivation to do it.
          </p>
          <p>
            By pooling our experience and sharing the effort, The Energy Challenge aims to help give you that knowledge and motivation.
          </p>
          
          <h4>Who's doing this?</h4>
          <p>The North London Energy Transition is made up of members drawn from local Transition groups, including <a href="http://transitiondartmouthpark.wordpress.com/">Transition Dartmouth Park</a>, <a href="http://transitionhighgate.org/">Transition Highgate</a>,  <a href="http://www.transitionkentishtown.org.uk/">Transition Kentish Town</a> and <a href="http://transitiontufnellpark.org.uk/">Transition Tufnell Park</a>.</p>
<!--
          <p class="pull-right">
            <a target="_blank" href="https://www.google.com/calendar/event?action=TEMPLATE&tmeid=bWszdHRyaGExaGE5a2MwN2tiNm9wY292cnNfMjAxMzA1MjBUMTgwMDAwWiBub3J0aC5sb25kb24uZW5lcmd5QG0&tmsrc=north.london.energy%40gmail.com"> Add this event to your Google calendar <img src="//www.google.com/favicon.ico" class="icon"></a>
          </p>
-->
          <h4>Next event: June 17</h4>
          <p>Come and join us upstairs at the Palmerston to see Oliver Hodge's film, Garbage Warrior, The epic story of radical Earthship eco architect Michael Reynolds, and his fight to build off-the-grid self-sufficient communities at 7pm on 17 June upstairs at the Lord Palmerston, 33 Dartmouth Park Hill, NW5 1HU.</p>
          
          <h4>Next reading dates</h4>
          <ul>
            <li><b><a href="#readings">Sunday 16 June</a></b></li>
            <li><b><a href="#readings">Sunday 14 July</a></b></li>
            <li><b><a href="#readings">Sunday 11 August</a></b></li>
          </ul>

          <p class="pull-right"><a href="mailto:north.london.energy@gmail.com" target="_blank">Contact us by email <img src="//mail.google.com/favicon.ico" class="icon"></a></p>
          <h4>I want to know more</h4>

        </div>
      </div> <!-- row -->
      
      <div class="row">

          <div class="span6" id="readings">
            <div class="well">
              <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEx5eURFTjBMT3d4ZXY5RXZEYWFmLWc6MQ" width="100%" height="660" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
          </div>

        <div class="span6">
          <h3>Blog</h3>
          {% include posts.html %}
          
          <h4>Documents</h4>
          <p><a href="docs/3TTEnergychallenge.pdf" target="_blank">Initial newsletter</a>
        </div>

      </div>

      <hr>

      <div class="footer">
        <p>North London Energy Transition</p>
      </div>

    </div>

<!--
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
-->

  </body>
</html>